{% extends "base.html" %}

{% block subtitle %}
Edit me!
{% endblock %}
{% block content %}
<form class="usereditform" action="" method="post">{% csrf_token %}
  <div class="eight columns">
  {% for field in form %}
  <label for="{field.name"} class="two columns">{{field.label}}</label>
  <div class="four columns">{{field}}</div>  
  {% if forloop.counter == half %}
    </div>
  <div class="eight columns">
  {% endif %}
  {% endfor %}
    </div>
    <input type="submit" value="Update" />
</form>
<hr>
<div class="sixteen columns">
<a href="{% url 'home' %}"> &rarr; Go back</a>
</div>
{% endblock content %}
