{% extends "base.html" %}

{% block subtitle %}
Edit me!
{% endblock %}
{% block content %}
<form class="usereditform ajaxform" action="" enctype="multipart/form-data" method="post">{% csrf_token %}
  {{form.media}}
  <div class="eight columns">
  {% for field in form %}
  <label for="{{field.name}}" class="two columns">{{field.label}}</label>
  <div class="four columns">
  {% if field.errors %}
    <div class="error">
    {{field.errors}}
    </div>
  {% endif %}
    {{field}}
  </div>  
  {% if field.name == 'photo' %}
  </div>
  <div class="eight columns">
  {% endif  %}
  {% endfor %}
  </div>
    <div class="sixteen columns">
      <button class="ajaxsubmit enabled">Submit</button>
  </div>
</form>
<hr>
<div class="sixteen columns">
<a href="{% url 'home' %}"> &larr; Go back</a>
</div>
{% endblock content %}
