.header{
    margin-top:100px;
    margin-bottom:50px;
}
 
.userinfo{
    clear:both;
}
.userinfo div{
    line-height:27px;
}

.footer {
    margin-top:150px;
    margin-bottom:50px;
    font-size:12px;
    text-align:right;
}

form.usereditform{

}
form.usereditform label{

}

.loginbtn{
    position: absolute;
    top:30px;
    right:50px;
    font-size:10px;
}

.content {
    line-height:26px;

}

.error{
    color:red;
    font-size:11px;
}

.ajaxsubmit{
    color:white;
}
.ajaxsubmit.enabled{
    color:black!important;
}
