.header{
    margin-top:100px;
    margin-bottom:50px;
}
 
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.userinfo{
    clear:both;
    position: relative;
    padding-bottom:20px;
    margin-bottom:100px;
    border-bottom:1px dotted grey;
}
.userinfo div{
    line-height:27px;
}

.footer {
    margin-top:150px;
    margin-bottom:50px;
    padding-bottom:20px;
    font-size:12px;
    text-align:right;
}

form.usereditform{

}
form.usereditform label{

}


.editbtns{
    position:absolute;
    top:-40px;
    right:0px;
    font-size:11px;
}

.content {
    line-height:26px;

}

.error{
    color:red;
    font-size:11px;
}

.ajaxsubmit{
    color:white;
}
.ajaxsubmit.enabled{
    color:black!important;
}
th a {
    text-decoration:none;
}
